@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$backcolor: lightgrey;
html {
    height: 100%;
}

body {
    background-color: $backcolor;
     margin:150px 450px; padding:0px;
    text-align:center;
    align:center;
}
img {
    max-width:20px;
    margin: auto;
    float: left;
}
h1 {
  font-family: 'Montserrat';
  font-size: 28px;
}
.item-header {
  font-family: 'Montserrat';
  font-size: 28px;
  color: black;
  text-align: center;
}
.add-button{
  background-color: rgb(50, 151, 209);
  width: 100%;
  color: white;
  padding: 14px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
   font-family: 'Montserrat';
   text-decoration: none;
   outline: none;
   align: center;
}
.add-button:hover{
  background-color: rgb(45, 136, 189);
}
.link-button{
  background-color: rgb(50, 151, 209);
  width: 75%;
  color: white;
  padding: 14px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
   font-family: 'Montserrat';
   text-decoration: none;
   outline: none;
   align: center;
}
.link-button:hover{
  background-color: rgb(45, 136, 189);
}
#items {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 130%;
  margin-left: -15%;
  align: center;
}

#items td, #items th {
  border: 1px solid #ddd;
  padding: 8px;
}

#items tr:nth-child(even){background-color: #f2f2f2;}

#items tr:hover {background-color: #ddd;}

#items th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(50, 151, 209);
  color: white;
}
.delete-button {
   background-color: #f44336;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  border-radius: 7px;
  margin: 8px 0;
  outline: none;

}
.delete-button:hover{
  background-color: #f44336;
}
h2 {
    color: rgb(52, 161, 235);
    font-family: 'Krona One';
    font-size: 0px;
}
label {
    font-size: 20px;
}
input[type=text],[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

.log-button {
  width: 90%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
   font-family: 'Montserrat';
   align-items: center;
   text-decoration: none;
   margin-left: auto;
   
}
.google-btn {
  width: 60%;
  background-color: rgb(37, 83, 231);
  color: white;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  float: left;
}
.forgot{
    line-height: 4em;
}
.log-button:hover {
  background-color: #45a049;
}
.google-btn:hover {
  background-color: #2338ec;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}
a {
float:right;
}